html, body {
  margin: 0;
  height: 100%;
  font-family: Helvetica,sans-serif;
  font-size: .90rem;
}
.CodeMirror {
  text-align: left;
  font-size: 12px;
}

/* Panels */
.gjs-pn-panel {
  position: relative;
}
.gjs-pn-options {
  right: 0;
}
.gjs-pn-views-container {
  padding-top: 0;
}
/***********/

/* Traits */
.gjs-trt-trait {
  display: block;
}
.gjs-trt-trait .gjs-label, .gjs-trt-trait .gjs-field {
  display: block;
  width: 100%;
}
/*************/

.container {
  height: 100%;
}

.actions-bar {
  height: 45px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.row {
  height: calc(100% - 45px);
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
}

.column {
  min-height: 75px;
  flex-grow: 1;
  flex-basis: 100%;
  overflow: auto;
}

.column.left, .column.right {
  min-width: 200px;
  flex-basis: 500px;
  height: 100%;
}

.column.right {
  display: flex;
  flex-direction: column;
}

.column.right > * {
  display: block;
  width: 100%;
}

.editor-clm {
  display: flex;
  flex-direction: column;
}

.gjs-cv-canvas {
    width: 100%;
    height: 100%;
    top: 0;
}

/* Theming */
.gjs-one-bg {
  background-color: #242A3B; 
}

.gjs-two-color {
  color: #9ca8bb;
}

.gjs-three-bg {
  background-color: #1E8FE1;
  color: white;
}

.gjs-four-color,
.gjs-four-color-h:hover {
  color: #1E8FE1;
}