html, body {
  margin: 0;
  height: 100%;
}
.CodeMirror {
  text-align: left;
  font-size: 12px;
}

.gjs-pn-devices-c {
  left: calc(50% - 200px);
  padding: 4px;
}
.gjs-pn-panel.gjs-pn-options {
  right: 300px;
}
.gjs-pn-views-container, .gjs-pn-views {
  min-width: 250px;
}
.gjs-trt-trait {
  display: block;
}
.gjs-trt-trait .gjs-label, .gjs-trt-trait .gjs-field {
  display: block;
  width: 100%;
}

/* Theming */
.gjs-one-bg {
  background-color: #242A3B; 
}

.gjs-two-color {
  color: #9ca8bb;
}

.gjs-three-bg {
  background-color: #1E8FE1;
  color: white;
}

.gjs-four-color,
.gjs-four-color-h:hover {
  color: #1E8FE1;
}