html, body {
  margin: 0;
  height: 100%;
}

#gjs-pn-devices-c {
  left: calc(50% - 200px);
  padding: 4px;
}
.gjs-pn-panel#gjs-pn-options {
  right: 300px;
}
#gjs-pn-views-container, #gjs-pn-views {
  min-width: 250px;
}